*{margin:0;padding:0;}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

figure {
  margin: 0;
}

.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.fog {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #000;
}
.fog__container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.fog__img {
  position: absolute;
  height: 100vh;
  width: 300vw;
}
.fog__img--first {
  background: url("../img/fog-1.png") repeat-x;
  background-size: contain;
  background-position: center;
  -webkit-animation: marquee 60s linear infinite;
          animation: marquee 60s linear infinite;
}
.fog__img--second {
  background: url("../img/fog-2.png") repeat-x;
  background-size: contain;
  background-position: center;
  -webkit-animation: marquee 40s linear infinite;
          animation: marquee 40s linear infinite;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-200vw, 0, 0);
            transform: translate3d(-200vw, 0, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-200vw, 0, 0);
            transform: translate3d(-200vw, 0, 0);
  }
}
